In [2]:
import pandas as pd

dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df=pd.DataFrame(dict_data)

print(type(df))
print('\n')

print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [3]:
import pandas as pd

df=pd.DataFrame([[15,'남','덕영중'],[17,'여,수리중']],
               index=['준서','예은'],
               columns=['나이','성별','학교'])

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이     성별    학교
준서  15      남   덕영중
예은  17  여,수리중  None


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [4]:
import pandas as pd

df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
               index=['준서','예은'],
               columns=['나이','성별','학교'])

print(df)
print('\n')

df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'},inplace=True)

df.rename(index={'준서':'학생1','예은':'학생2'},inplace=True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [5]:
import pandas as pd

exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

df2=df[:]
df2.drop('우현',inplace=True)
print(df2)
print('\n')

df3=df[:]
df3.drop(['우현','인아'],inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\60415\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [6]:
import pandas as pd

exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

df4=df[:]
df4.drop('수학',axis=l,inplace=True)
print(df4)
print('\n')

df5=df=[:]
df5.drop(['영어','음악'],axis=l,inplace=True)
print(df5)

SyntaxError: invalid syntax (<ipython-input-6-d60d13121c28>, line 14)

In [8]:
import pandas as pd

exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

df4=df[:]
df4.drop('수학',axis=1,inplace=True)
print(df4)
print('\n')

df5=df[:]
df5.drop(['영어','음악'],axis=1,inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [9]:
import pandas as pd

exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

label1=df.loc['서준']
position1=df.iloc[0]
print(label1)
print('\n')
print(position1)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [1]:
import pandas as pd

exam_data={'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

label1=df.loc['서준']
position1=df.iloc[0]
print(label1)
print('\n')
print(position1)

label2=df.loc[['서준','우현']]
position2=df.iloc[[0,1]]
print(label2)
print('\n')
print(position2)

label3=df.loc['서준':'우현']
position3=df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [16]:
import pandas as pd

exam_data={'이름':['서준','우현','인아'],
          '수학':[ 90, 80, 70],
          '영어':[ 98, 89, 95],
          '음악':[ 85, 95, 100],
          '체육':[ 100, 90, 90]}
df=pd.DataFrame(exam_data)
print(df)
print('\n')

df['국어']= 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [17]:
import pandas as pd

exam_data={'이름':['서준','우현','인아'],
          '수학':[ 90, 80, 70],
          '영어':[ 98, 89, 95],
          '음악':[ 85, 95, 100],
          '체육':[ 100, 90, 90]}
df=pd.DataFrame(exam_data)
print(df)
print('\n')

df.loc[3]=0
print(df)
print('\n')

df.loc[4]=['동규',90,80,70,60]
print(df)
print('\n')

df.loc['행5']=df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [18]:
import pandas as pd

exam_data={'이름':['서준','우현','인아'],
          '수학':[ 90, 80, 70],
          '영어':[ 98, 89, 95],
          '음악':[ 85, 95, 100],
          '체육':[ 100, 90, 90]}
df=pd.DataFrame(exam_data)

df.set_index('이름',inplace=True)
print(df)
print('\n')

df.iloc[0][3]=80
print(df)
print('\n')

df.loc['서준']['체육']=100
print(df)

df.loc['서준',['음악','체육']]=50
print(df)
print('\n')

df.loc['서준',['음악','체육']]

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [19]:
import pandas as pd

exam_data={'이름':['서준','우현','인아'],
          '수학':[ 90, 80, 70],
          '영어':[ 98, 89, 95],
          '음악':[ 85, 95, 100],
          '체육':[ 100, 90, 90]}
df=pd.DataFrame(exam_data)
print(df)
print('\n')

df=df.transpose()
print(df)
print('\n')

df=df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [20]:
import pandas as pd

exam_data={'이름':['서준','우현','인아'],
          '수학':[ 90, 80, 70],
          '영어':[ 98, 89, 95],
          '음악':[ 85, 95, 100],
          '체육':[ 100, 90, 90]}
df=pd.DataFrame(exam_data)
print(df)
print('\n')

ndf=df.set_index(['이름'])
print(ndf)
print('\n')
ndf2=ndf.set_index('음악')
print(ndf2)
print('\n')
ndf3=ndf.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90